
<div class="navbar-fixed " >            
    <nav>      
        <div class="nav-wrapper">
                <!-- <a href="/deshboard/sidebar"  data-target="slide-out" class="left"> 
                    <i class="material-icons">menu
                    </i>
                </a>
                   -->
            <a href="/dashboard" class="brand-logo">Logo</a>
          <!-- <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
            <ul id="nav-mobile" class="right">
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/dashboard/viewdata">Dispaly</a></li>
                <li class="logout"> 
                    <a class="btn waves-effect btn-flat #e57373 red lighten-2 white-text" (click)="onLogout()">
                        Sign Out <i class="material-icons right white-text">exit_to_app</i>
                    </a>
                </li>
            
            </ul>
        </div>
    </nav>
   
</div>


