<p>
  dragndrop works!
</p>
<!-- <div class=" row grid-example  col s12 offset-s3 ">
  <table id="table" (dragover)="tableDragger(event)" class="col s6 offset-s3">
    <thead>
    <tr>
      <th class='handle'>header1</th>
      <th class='handle'>header2</th>
    </tr>
    </thead>
    <tbody>
    <tr draggable="true">
      <td>conten1</td>
      <td>conten2</td>
    </tr>
    <tr draggable="true">
        <td>conten3</td>
        <td>conten4</td>
      </tr>
    </tbody>
  </table>
</div>

<div id="current">
  <div id="table1" (dragover)="tableDragger(event)" >
    <table>
      <tbody>
        <tr>
          <td>COL0</td>
          <td>COL1</td>
          <td>COL2</td>
        </tr>
        <tr draggable="true">
          <td>c00</td>
          <td>c01</td>
          <td>c02</td>
        </tr>
        <tr draggable="true">
          <td>c5</td>
          <td>c6</td>
          <td>c7</td>
        </tr>
        <tr draggable="true">
            <td>c10</td>
            <td>c11</td>
            <td>c12</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
     -->
 <div class=" row grid-example  col s12 offset-s3 ">
    <table id="table" class="col s6 offset-s3" >
      <thead>
      <tr>
        <th >header3</th>
        <th>header4</th>
      </tr>
      </thead>
      <tbody>
      <tr draggable="true" class='handle'>
        <td >conten3</td>
        <td>conten4</td>
      </tr>
      </tbody>


    <thead>
      <tr>
        <th>header1</th>
        <th >header2</th>
      </tr>
    </thead>
    <tbody>
      <tr  class='handle' draggable="true">
        <td>conten1</td>
        <td>conten2</td>
      </tr>
      <tr  class='handle' draggable="true">
        <td>conten3</td>
        <td>conten4</td>
      </tr>
      <tr  class='handle' draggable="true">
        <td>conten5</td>
        <td>conten6</td>
      </tr>
    </tbody>
  </table>
</div>